<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Sophia</key>
	<dict>
		<key>s_pancard.jpg</key>
		<string></string>
		<key>s_passport.jpg</key>
		<string></string>
		<key>s_licence.jpeg</key>
		<string></string>
	</dict>
	<key>Jake</key>
	<dict>
		<key>j_passport.jpeg</key>
		<string></string>
		<key>j_pancard.jpeg</key>
		<string></string>
		<key>j_licence.jpeg</key>
		<string></string>
	</dict>
</dict>
</plist>
