<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Sophia</key>
	<dict>
		<key>QK_PRF_NAME</key>
		<string>Sophia Loren</string>
		<key>QK_PRF_GENDER</key>
		<string>Female</string>
		<key>QK_PRF_DOB</key>
		<string>28112015</string>
		<key>QK_PRF_MARITALSTATUS</key>
		<string>SIngle</string>
		<key>QK_PRF_OCCUPATION</key>
		<string>Architect</string>
		<key>QK_PRF_EDUCATION</key>
		<string>BS</string>
	</dict>
	<key>Jake</key>
	<dict/>
</dict>
</plist>
