<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Sophia</key>
	<dict>
		<key>QK_PRF_NAME</key>
		<string>Sophia Loren</string>
		<key>QK_PRF_GENDER</key>
		<string>Female</string>
		<key>QK_PRF_DOB</key>
		<string>10101990</string>
		<key>QK_PRF_MARITALSTATUS</key>
		<string>Single</string>
		<key>QK_CNT_EMAIL1</key>
		<string>sophia@gmail.com</string>
		<key>QK_CNT_PHONE_MOBILE_1</key>
		<string>9299919999</string>
		<key>QK_CNT_HOMEADDR</key>
		<string>Jayanagar, Bangalore</string>
		<key>QK_CNT_HOMEADDR_PIN</key>
		<string>560069</string>
		<key>QK_CNT_HOMEADDR_COUNTRY</key>
		<string>India</string>
		<key>QK_ID_PAN</key>
		<string>BR344333333</string>
		<key>QK_ID_PASSPORT</key>
		<string>PA-AA-2222</string>
		<key>QK_DOC_PAN</key>
		<string>s_pancard.png</string>
		<key>QK_DOC_PASSPORT</key>
		<string>passport.png</string>
	</dict>
	<key>Jake</key>
	<dict/>
</dict>
</plist>
